body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn:hover{
  background-color: rgb(235, 199, 41);
}
.btn{
  background-color: rgb(233, 233, 27);
}
.bg-white{
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  width: 390px !important;

}
.text-xl{
  font-size: 11px !important;
  text-transform: capitalize;
}
.link{
  font-size: 13px;
}
.nav .first{
  position: absolute;
  right: 30%;
}
.nav .second{
  position: absolute;
  right: 20%;
}
.ref{
  font-size: 14px;
}
.light{
  font-size:11px;
  color: rgb(61, 56, 56);
}
.re{
  font-size: 11px;
  font-weight: 100;
  color: rgb(44, 43, 41);
}
.tip{
   position: absolute;
   top: 115%;
   font-size: 11px;
   left: 42%;
}


